
form{
width: 90%;
height: 90%;
justify-content: center ;
text-align: center;
border: 2px solid ;
margin: 5px;
}

.wrapper{
    justify-content: center ;
    text-align: center;
    border: 1px solid ;
    
}

.ingredient{
    display: flex;
}