<p>first-body works!</p>
<div class="wrapper">
    <section class="input">
        <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/5RXmLhscstsdvWPN0XtUa0?utm_source=generator" width="100%"
            height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </section>
    <section class="input">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6G6ZbIRh_y8" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </section>
    <section class="input">
        <iframe style="border-radius:12px"
            src="https://open.spotify.com/embed/track/6avrR8KOfXZfWQruHxywTD?utm_source=generator" width="100%"
            height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </section>
</div>