.navatas {
  justify-content: space-between;
  background-color: #100f0f;
  color: #f4f4f4;
  position: fixed;
  z-index: 2;
  padding: 20px;
  vertical-align: middle;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 20px;
}

mat-sidenav {
  background-color: #100f0f;
}

.icon {
  color: #f4f4f4;
}

a.active {
  color: #e6b325 !important;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.cart {
  color: #f4f4f4;
}

.change:hover {
  color: #e6b325;
}

.change {
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
  padding-right: 1rem;
}
.change.active {
  color: #e6b325 !important;
  width: fit-content;
  padding-right: 1rem;
}

.buttom {
  background-color: #f4f4f4;
  color: #100f0f;
  font-weight: bold;
}

.buttom.hover {
  background-color: #e6b325 !important;
}
/* binggung */
mat-menu:active {
  color: #e6b325 !important;
  border: 1px solid #e6b325;
}

.option {
  background-color: #e6b325;
  color: #100f0f;
  text-align: left;
}

button {
  padding-right: 1rem;
}
