mat-sidenav-container{
    width: 100%;
    height: 100%;
    /* background-color: #ddb8a6; */
  }
  
  /* mat-sidenav{
    width: 200px;
    background-color: #7b876d;
    padding: 20px;
  }
  
  mat-list a{
    color: #000;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;  
  }
  
  a.active{
    color: #f7e3d4 !important; 
    background-color: #4b553a;
  } */
  