<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <!-- <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button> -->
    <mat-list>
      <mat-list-item>
        <a mat-button routerLink="/promo" routerLinkActive="active">
          <mat-icon>Discount</mat-icon> Promo
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/school" routerLinkActive="active">
          <mat-icon>School</mat-icon> School
        </a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="/filter" routerLinkActive="active">
          <mat-icon>Search</mat-icon> Filter
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>