.navatas {
    justify-content: space-between;
    background-color: #100F0F;
    color: #F4F4F4;
    position: fixed;
    z-index: 2;
    padding: 20px;
    vertical-align: middle;
}

.left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

mat-sidenav {
    background-color: #100F0F;
}

.icon{
    color: #F4F4F4 ;
}

a.active{
    color: #E6B325 !important; 
  }
  
.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 20px;
}

.cart{
color: #F4F4F4;
}

.change:hover {
    color: #E6B325;
}

.change.active {
    color: #E6B325 !important;
    border: 1px solid #E6B325;
  }


.buttom{
    background-color: #F4F4F4;
    color: #100F0F;
    font-weight: bold;
}

.buttom.hover{
    background-color:  #E6B325 !important; 
  }
/* binggung */
  mat-menu:active{
    color: #E6B325 !important;
    border: 1px solid #E6B325;
  }
  

  .option{
    background-color: #E6B325;
    color: #100F0F;
    text-align: left;
  }
    