<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="/card" routerLinkActive="active">
        <mat-icon>people</mat-icon> Card
      </a>
      <a mat-list-item routerLink="/add" routerLinkActive="active">
        <mat-icon>add_box</mat-icon> ADD Picture
      </a>
      <a mat-list-item routerLink="/about" routerLinkActive="active">
        <mat-icon>perm_identity</mat-icon> About
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar class="navatas" color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="brand">PONTERAS</span>
    <div class="nav">
      <a href=""></a>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>