.wrap {
    width: 90%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    background-color: #F0A500;
    border-radius: 2rem;
    margin: 10px;
}

.wrapper {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    background-color: #F4F4F4;
    justify-content: center;
    text-align: center;
}

.left {
    width: 40%;
    padding: 1rem;
    justify-content: center;
}

.right {
    width: 60%;
    margin: 1rem;
    padding: 1rem;
    text-align: justify;
    color: #1A1C20;
    display: flex;
    flex-direction: column;
}

.imge {
    width: 300px;
    height: 200px;
    border-radius: 1rem;
}

.trash{
   margin-left: auto;
}

p{
    font-size: large;
}

sub{
    color: rgb(138, 32, 32);
}