<div style="background-color: #100F0F;">
    <div class="container">
        <h1>Stock-Management</h1>

        <button class="add" mat-raised-button color="primary" (click)="openDialog()"> Add New Ingredients </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" [fixedLayout]="true">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="nama">
            <th mat-header-cell *matHeaderCellDef> Name <br>
                <mat-form-field >
                    <mat-label>Search Ingredients</mat-label>
                    <input matInput [formControl]="ingredientFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock <br>
                <!-- <mat-form-field >
                    <mat-label>Search Stock</mat-label>
                    <input matInput type="number" [formControl]="stockFilter">
                </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status <br>
                <mat-form-field>
                    <mat-select [formControl]="statusFilter" [(ngModel)]="value">
                        <mat-option *ngFor="let stat of status" [value]="stat.value">
                            {{stat.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon [ngStyle]="{'color':'green'}" *ngIf="element.status === 'active'">done</mat-icon>
                <mat-icon [ngStyle]="{'color':'red'}" *ngIf="element.status === 'deleted'">close</mat-icon>
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions" class="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
                <mat-list class="actions-button">
                    <mat-list-item>
                        <button mat-flat-button color="primary" matTooltip="Edit">
                            <mat-icon (click)="onEdit(element)">edit</mat-icon>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-flat-button color="warn" matTooltip="Delete">
                            <mat-icon (click)="onClick(element.id)">delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator (page)="onPagination($event)" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>

</div>