<body style="background-color: #100F0F;">
    <div class="container">
        <h1>{{"stockManagement" | translate }} </h1>

        <button class="add" mat-raised-button color="primary" (click)="openDialog()"> {{"addNewIngredient" | translate }}  </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        <!-- matSort (matSortChange)="sortData($event)" -->

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="nama">
            <th mat-header-cell *matHeaderCellDef> {{"ingredientName" | translate }}  <br>
                <mat-form-field >
                    <mat-label>Search Ingredients</mat-label>
                    <input matInput [formControl]="ingredientFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Stock Column -->
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef>{{"stock" | translate }}  <br>
                <!-- <mat-form-field >
                    <mat-label>Search Stock</mat-label>
                    <input matInput type="number" [formControl]="stockFilter">
                </mat-form-field> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{"status" | translate }}  <br>
                <mat-form-field>
                    <mat-select [formControl]="statusFilter" [(ngModel)]="value">
                        <mat-option *ngFor="let stat of status" [value]="stat.value">
                            {{stat.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon [ngStyle]="{'color':'green'}" *ngIf="element.status === 'active'">done</mat-icon>
                <mat-icon [ngStyle]="{'color':'red'}" *ngIf="element.status === 'deleted'">close</mat-icon>
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions" class="actions">
            <th mat-header-cell *matHeaderCellDef>{{"action" | translate }} </th>
            <td mat-cell *matCellDef="let element">
                <mat-list class="actions-button">
                    <mat-list-item>
                        <button mat-flat-button color="primary" matTooltip="Edit" (click)="onEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-flat-button color="warn" matTooltip="Delete" (click)="onClick(element.id)"
                        [disabled]="element.status == 'deleted'">
                            <mat-icon >delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table><br><br><br>

    <mat-paginator #paginator (page)="onPagination($event)" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator>

</body>