<p>user-form works!</p>
<div class="wrap">

    <div class="language">
        <mat-form-field class="input" appearance="outline">
            <mat-label>Language</mat-label>
            <mat-select [(value)]="selectedLang" #lang (valueChange)="setLanguage(lang.value)">
                <mat-option value="en">English</mat-option>
                <mat-option value="id">Indonesian</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill">
            <mat-label>{{ "userForm._id" | translate }}</mat-label>
            <input matInput type="number" formControlName="id" placeholder="ID Number">
        </mat-form-field>
        <mat-error *ngIf="this.userForm.get('id').invalid && this.userForm.get('id').touched" 
        class="alert alert-danger"> You Must Input your ID_Number </mat-error><br>

        <mat-form-field appearance="fill">
            <mat-label>{{ "userForm.name" | translate }}</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name">
        </mat-form-field>
        <mat-error *ngIf="this.userForm.get('name').invalid && this.userForm.get('name').touched"
            class="alert alert-danger"> You Must Input Your Name </mat-error>

            <mat-error *ngIf="userForm.get('name').hasError['forbiden']">jangan berkata kasar</mat-error><br>

       

        <mat-form-field appearance="fill">
            <mat-label>{{ "userForm.age" | translate }}</mat-label>
            <input matInput type="number" formControlName="age" placeholder="Age">
        </mat-form-field>
        <mat-error *ngIf="this.userForm.get('age').invalid && this.userForm.get('age').touched" 
        class="alert alert-danger"> You Must Input your Age </mat-error><br>

        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Male">Male </mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
        </mat-radio-group><br>

        <mat-form-field appearance="fill">
            <mat-label>{{ "userForm.email" | translate }}</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Example@gmail.com">
            <mat-error *ngIf="userForm.get('email').invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>{{ "userForm.position" | translate }}</mat-label>
            <mat-select formControlName="position">
                <mat-option value="FrontEnd">Front_End</mat-option>
                <mat-option value="BackEnd">Back_End</mat-option>
                <mat-option value="QualityAsurance">Quality_Asurance</mat-option>
            </mat-select>
        </mat-form-field><br>

        <mat-form-field appearance="fill">
            <mat-label>{{ "userForm.maritalStatus" | translate }}</mat-label>
            <mat-select formControlName="maritalstatus">
                <mat-option value="Single">Single</mat-option>
                <mat-option value="Married">Married</mat-option>
            </mat-select>
        </mat-form-field><br><br>

        <div formArrayName="addressess">
            <div *ngFor="let addressControl of addressess.controls; let i = index">
                <div [formGroupName]="i">

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "userForm.address" | translate }}</mat-label>
                        <input matInput formControlName="address" placeholder="Address">
                    </mat-form-field><br>

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "userForm.zipCode" | translate }}</mat-label>
                        <input matInput formControlName="zipcode" placeholder="Zip Code">
                    </mat-form-field><br>
                    <!-- <mat-error *ngIf="this.userForm.get('zip').invalid && this.userForm.get('zipcode').touched" 
                    class="alert alert-danger"> You Must Input your Zip_Code </mat-error> -->

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "userForm.city" | translate }}</mat-label>
                        <input matInput type = "text" formControlName="city" placeholder="City">
                    </mat-form-field><br>

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "userForm.country" | translate }}</mat-label>
                        <input matInput type = "text" formControlName="country" placeholder="Country">
                    </mat-form-field><br>

                    <button mat-raised-button (click)="onRemove(i)">Remove</button>

                </div>

            </div>
            <button type="button" mat-raised-button color="accent" (click)="onAddAddress()">Add_Address</button>
            <br><br>
        </div>
        <button mat-raised-button color="primary">{{ "actions.submit" | translate }}</button>


    </form>
</div>