.wrap{
    /* text-align: center;
    justify-content: center; */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
button {
    text-align: center;
    background-color:  #9a6851;
    color: whitesmoke;
    border-radius: 2rem;
}

.button{
    text-align: center;
    justify-content: center;
}

