* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: black;
    max-width: 100%;
}

body{
    background-color: #F7EDDB;
}

header > h1 {
    text-align: center;
}

.wrapper1, .wrapper2, .wrapper3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.wrapper2{
   margin: 1rem 0;
}



.card {
    border: 2px solid;
    box-shadow: 3px 5px 20px 5px #888888;
    border-radius: 15px;
    background-color:rgb(255, 255, 255);
    width: 28vw;
    margin: 0 20px;
    text-align: center;
    height: 600px;
}

/* .card:hover{
    transition: 0.5s;
    transform: scale(1.05);
} */

.card >.card-header{
    margin: 10px;
    padding: 10px;
}

.card >.card-header >img {
    height: 20vw;
}

.card >.card-header >img:hover{
    transform: scale(1.05);
    transition: 0.5s;
    rotate: -5deg;
}

.card >.card-body {
    padding: 15px 35px;
}

.card >.card-body >p {
    text-align: justify;
    margin-top: 10px;
}

.card >.card-body >p::first-letter {
    color: #03f965;
    font-size: x-large;
  }

.card >.card-body >p::first-line {
    color: #46b4dc;
    font-variant: small-caps;
  }

.card >.card-footer {
    margin: 15px;
    border-radius: 10%;
}

.btn {
    padding: 10px 5px;
    background-color: #83BD75;
    border-radius: 10px;
    color:#ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80%;
}

.btn:hover{
    background-color: #888888;
    color: #83BD75;
}

footer {
    background-color: #CCD6A6;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
}

.container > a{
    margin: 1rem;
    padding: 1rem;
}
