* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
    color: black;
}

body{
    background-color:rgb(227, 227, 227);
}

article > h1 {
    font-size: xx-large;
    text-align: center;
    margin: 30px;
}

article > p {
    margin-left: 200px;
    margin-bottom: 40px;
}

.big {
    font-size: 25px;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 15px 30px 15px;
}

.card {
    border: 3px solid;
    box-shadow: 3px 5px 20px 5px #888888;
    background-color:rgb(255, 255, 255);
    width: 20%;
    margin: 20px;
    text-align: center;
    height: 550px;
    transition: 0,3s;
}

.card >.card-head {
    padding: 18px;
    margin: -2px;
    background-color: #a4b3b6;
    border: 2px solid;
}

.card >.card-body {
    height: 70%;
    padding: 30px;

}

.card >.card-body>img {
    width: 40%;
    margin-bottom: 40px;
}

.card >.card-footer {
    margin-bottom: 15px;
    padding: 30px;
}

.btn {
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.card:hover{
    transform: scale(1.1);
}
