.header {
  height: 95%;
  width: 100%;
  margin-top: 60px;
  background-image: url(/../../assets/pictures/background_homepage_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  z-index: 1;
}

.header_caption {
  border: 1.5px solid transparent;
  text-align: center;
  height: fit-content;
}

.header::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.header_caption > h1 {
  border: 1.5px solid;
  margin: 75px 500px 1px 500px;
  font-size: 40px;
  padding: 35px;
}

h4 {
  font-size: large;
  padding: 15px;
}

.text {
  color: #f0a500;
  z-index: 2;
}

/* New */

main {
  background-color: #1b2430;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

main .par1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 50px;
  margin-top: 50px;
  color: #f0a500;
}

.carousel {
  position: relative;
  z-index: 0;
}

.carousel-cell > .imge {
  width: 100%;
  background-color: #100f0f;
  opacity: 70%;
}

.carousel-cell > h3 {
  position: absolute;
  z-index: 5;
  font-weight: 500;
  font-size: 35px;
  padding: 160px;
  text-align: center;
  justify-content: center;
  color: #f0a500;
  text-shadow: #100f0f 5px 5px 20px;
  outline-color: #f4f4f4;
}

.par1 > .about > button {
  background-color: #f0a500;
  color: #1a1c20;
  padding: 10px;
  border-radius: 1rem;
}

.par1 .carousel,
.par1 .about {
  width: 50%;
  text-align: justify;
}

.par1 h1 {
  font-size: 2rem;
  font-weight: 500;
}

.pict {
  color: #f0a500;
  margin-top: 20px;
}

.pict h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.pict .wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1b2430;
  justify-content: center;
  gap: 10px;
  padding-bottom: 300px;
}

.card h2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
  color: white;
  background-color: #b80e0e;
  width: fit-content;
  position: relative;
  z-index: 1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.card .detail-card {
  position: relative;
  top: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 40px;
  margin-left: 10px;
}

.card {
  opacity: 75%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card .detail-card .name-card {
  font-size: 1.2rem;
  font-weight: 500;
}

.card .detail-card .price-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card .detail-card .price-card .original-price {
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  text-decoration: line-through;
}

.card .detail-card .price-card .disc-price {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: normal;
}

.pict .wrapper .card {
  width: 30%;
  border: 1px solid #1b2430;
  padding: 10px;
}

.card img {
  width: 425px;
  height: 300px;
}

.card:hover {
  transition: 0.3s;
  transform: scale(1.05);
  opacity: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

mat-paginator {
  background-color: #2a3e57;
  color: #f0a500;
}

footer {
  background-color: #100f0f;
  color: #f4f4f4;
  text-align: center;
  padding: 2rem;
}

footer h2 {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

footer .wrap {
  display: flex;
  width: 60%;
  justify-content: center;
  margin: auto;
  gap: 5rem;
  margin-bottom: 50px;
}

.cardFooter {
  width: 48%;
  border: 2px solid #e6b325;
  border-radius: 2rem;
  padding: 20px;
}

footer > img {
  width: 100%;
  height: 98%;
  padding: auto;
}

.addFooter {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
  text-align: left !important;
}
.addFooter > h4 {
  color: #f0a500;
  text-align: center !important;
}
