body {
  background-image: url(/../../assets/pictures/background_homepage_3.jpg);
  padding: 30px;
}

.header {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

form {
  border: 1px solid #e6b325;
  border-radius: 50px;
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  background-color: transparent;
  color: #f4f4f4;
}

mat-form-field {
  width: 100%;
  color: #f4f4f4;
}

mat-label {
  color: #f4f4f4;
}

raise-button {
  width: 50%;
  background-color: #e6b325;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.button {
  border-radius: 1rem;
  border: 2px solid #e6b325;
  color: #f4f4f4;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: #e6b325 !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: #e6b325 !important;
}

::ng-deep.mat-form-field-border {
  /*change color of underline*/
  background-color: #e6b325 !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: #e6b325 !important;
}

/* ::ng-deep {

} */
