<p>login works!</p>

<body>
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="input email" />
        </mat-form-field><br>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="enter password" />
        </mat-form-field><br>

        <button mat-button>Submit</button>
    </form>
</body>