.container {
    background-color: #100F0F;
    margin-top: 60px;
    color: #F0A500;
    justify-items: center;
    padding: 20px;
    padding-left: 100px;
}


a {
    margin-right: auto;
    color: rgb(171, 37, 37);
}

button {
    border-radius: 2rem;
    background-color: white;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.noOrder1 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 90%;
    border-radius: 5%;
    border: 5px  white;
    border-style: dashed;
}

.noOrder2 {
    color: #100F0F;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    padding: 200px 530px;
    margin-right: auto;margin-left: auto;


}