.container {
    background-color: #100F0F;
    margin-top: 60px;
    color: #F0A500;
    justify-items: center;
    padding: 20px;
    padding-left: 100px;
}


a{
    margin-right: auto;
    color: rgb(171, 37, 37);
}

button {
    border-radius: 2rem;
    background-color: white;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}