body,
html {
    height: 100%;
}

.container {
    width: 85%;
    margin-top: 60px;
    padding: 20px 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: #F4F4F4;
}

.add {
    margin-left: auto;
    /* background-color:#F0A500 ; */
    color: #F0A500;
}

table {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F4F4F4;
    margin-bottom: 250px;
}

.actions-button {
    display: flex;
}

mat-paginator {
    position: fixed;
    background-color: #F0A500;
    color: #100F0F;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
}