.header{
    background-image: url(/../../assets/pictures/background_homepage_2.jpeg);
    margin-top: 30px;
    position:relative ;
    z-index: -1;
    height: 75%;
    width: 100%;
    text-align: center;
}

.header >h1{
    color: #f4f4f4;
    padding: 200px;
    font-size: xx-large;
}

.body{
    text-align: center;
}

.left{
    background-color: #E6B325;
    color: #100F0F;
    padding: 1rem;
    width: 48%;
}

.left >h2 {
    margin-top: 100px;
    height: 50px;
}

.right{
    background-color: transparent;
    color: #1A1C20;
    padding: 2rem;
    width: 48%;
}

img{
    width: 100%;
    height: 98%;
    padding: auto;
}

.footer{
    background-color: #100F0F;
    color: #f4f4f4;
    text-align: center;
    padding: 1rem;
    
}
.wrapper{
    display: flex;
    width: 100%;
}

.wrap{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 25px;
}

.card{
    width: 48%;
    border: 2px solid #E6B325;  
    border-radius: 2rem;
    padding: 20px;
}

.addFooter{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    text-align: left !important;
}
.addFooter>h4{
    color: #F0A500;
    text-align: center !important;
}
