<p>about works!</p>
<div class="header">
    <h1>{{"contact" | translate }}</h1>
</div>

<div class="body">
    <div class="wrapper">
        <div class="left">
            <h2 style="font-weight:bold;">Send Us a Message</h2>
            <p>Please use our form to send us a message and we'll be in touch shortly!</p>
        </div>
        <div class="right">
            <mat-form-field appearance="outline">
                <mat-label>Nama</mat-label>
                <input matInput formControlName="nama" placeholder="input email" />
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="input email" />
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="email" placeholder="input email" />
            </mat-form-field><br>
            <mat-form-field appearance="outline">
                <mat-label>Message</mat-label>
                <input matInput formControlName="email" placeholder="input email" />
            </mat-form-field><br>
            <button mat-button>SEND MESSAGE</button>
        </div>
    </div>
</div>

<div class="pict">
    <img src="https://static.cordonbleu.edu/Files/MediaFile/59676.jpg">
</div>

<div class='footer'>
    <h2>Our Location</h2>
    <div class="wrap">
        <div class="card">
            <span style="font-weight:bold;">PRAEDULCIS</span>
            <p> 5450 Clairemont Mesa Blvd.</p>
            <p> Suite G</p>
            <p> San Diego, CA 92117</p>
            <span style="font-weight:bold;">(858) 430-6878</span>
            <span style="font-weight:bold;">praedulcis@gmail.com</span>
        </div>
        <div class="card">
            HOURS
            <p><span style="font-weight:bold;">Monday - Sunday: </span>11:00 am - 9:00 pm</p>
        </div>

    </div>
    <img src="https://api.mapbox.com/styles/v1/mapbox/dark-v9/static/pin-l-marker+d00(-117.173585,32.834587)/-117.173585,32.834587,15/1280x400@2x?access_token=pk.eyJ1IjoianBvcG1lbnUiLCJhIjoiY2pyZ3IzN2VmMDAwODN5cWphN3NmejliaiJ9.2amq9P56QgKaMEGyxW7ayQ">

    <div class="addFooter">
        <h4>Made with <mat-icon>favorite_border</mat-icon> Team_1_ZettaCamp</h4>
        <p style="color:#E6B325;  text-align: center !important;">_____________________________________________________________________________________________________</p>
        <h3>Our Location</h3>
        <span style="font-weight:bold;">PRAEDULCIS</span>
            <p> 5450 Clairemont Mesa Blvd.</p>
            <p> Suite G</p>
            <p> San Diego, CA 92117</p>
            <span style="font-weight:bold;">(858) 430-6878</span>
            <span style="font-weight:bold;">Team1.ZettaCamp@praedulcis.com</span><br>
            <span style="font-weight:bold;">Monday - Sunday: </span>
            <p>11:00 am - 9:00 pm</p>
    </div>
    <p>________________________________________________________________________________________________________________________________________________</p>
</div>