<p></p><br>

<div class="wrapper">
    <div class="unpublish" *ngIf="recipe.status == 'unpublish' ">
        <h4>menu ini {{recipe.status}}</h4>
    </div>
    <div class="container header">
        <section class="title">
            <h1>{{recipe.recipe_name}} <mat-icon *ngIf="recipe.is_hightlighted === true">favorite</mat-icon>
            </h1>
            <h3>{{"available" | translate }} : {{recipe.remain_order}}</h3>
            <div class="PD" *ngIf="recipe.is_special_offers.status === true">
                <h3 style="text-decoration: line-through;">{{"price" | translate }}
                    Rp{{recipe.price.toLocaleString('ID')}}</h3>
                <h3>{{"price" | translate }} Rp{{recipe.price.toLocaleString('ID')}}</h3>
            </div>

            <h3 *ngIf="recipe.is_special_offers.status === false">{{"price" | translate }}
                Rp{{recipe.price.toLocaleString('ID')}}</h3>

            <button mat-button (click)="info(recipe)">{{"detail" | translate }}...</button>
        </section>
        <div class="card">
            <div *ngIf="recipe.is_special_offers.status === true">
                <img class="soImg" src="../../../../assets/pictures/pngwing.com.png">
            </div>
            <img class="pict" *ngIf="recipe.remain_order > 0" [src]="recipe.image" alt="Menu_makanan">
            <div *ngIf="recipe.remain_order === 0">
                <img class="pict" [src]="recipe.image" alt="Menu_makanan" style="filter: grayscale(90%)" >
                <img class="pict front" src="https://www.nicepng.com/png/full/202-2025134_sold-out-transparent.png"
                    alt="Menu_makanan">
            </div>
        </div>
    </div>
    <!-- <div class="text">
        {{recipe.description}}

    </div> -->
    <div class="container footer">

        <button mat-button (click)="addCart(recipe)" [disabled]="recipe.remain_order === 0">
            <mat-icon *ngIf="recipe.remain_order >0">add_shopping_cart</mat-icon>{{"addCart" | translate }}
        </button>

        <h2 *ngIf="recipe.remain_order === 0"> {{"outOfStock" | translate }}</h2>
    </div>
</div>