<body style="background-color: #100F0F; ">
    <div class="container">
        <h1>{{"menuManagement" | translate }}</h1>

        <button class="add" mat-raised-button color="primary" (click)="openDialog()"> {{"addNewMenu" | translate }}  </button>
    </div>

    <!-- <label>Search Name : </label>
  <input matInput class="search" type="text" id="filter" [(ngModel)]="filterRecipeName" (ngModelChange)="filterByRecipeName()" /><br><br> -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

        <!-- Name Column -->
        <ng-container matColumnDef="recipe_name">
            <th mat-header-cell *matHeaderCellDef> {{"recipename" | translate }} <br>
                <mat-form-field>
                    <mat-label>Search Recipes</mat-label>
                    <input matInput [formControl]="nameFilter">
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.recipe_name}} </td>
        </ng-container>

        <!-- Ingredients Column -->
        <ng-container matColumnDef="ingredients">
            <th mat-header-cell *matHeaderCellDef> {{"ingredients" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <div *ngFor="let item of element.ingredients">
                    {{item.ids.name}} = {{item.stock_used}}
                </div>
            </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{"description" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <!-- Hightlighted Column -->
        <!-- <ng-container matColumnDef="hightlight">
            <th mat-header-cell *matHeaderCellDef> {{"highlight" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.is_hightlighted}} <br>
                <mat-slide-toggle class="example-margin" color="primary" [checked]="element.is_hightlighted== true"
                    (change)="onHigh(element)"> </mat-slide-toggle>
            </td>
        </ng-container> -->

        <!-- Special_Offers Column -->
        <!-- <ng-container matColumnDef="specialoffers">
            <th mat-header-cell *matHeaderCellDef> {{"specialOffers" | translate }} </th>
            <td mat-cell *matCellDef="let element">  -->
                <!-- <div *ngFor="let item of element.is_special_offers">
                    {{item.status}}<br>
                </div> -->
                <!-- {{element.is_special_offers.status}}<br>
                <mat-slide-toggle class="example-margin" color="primary" [checked]="element.is_special_offers.status== true"
                    (change)="onSpecial(element)"> </mat-slide-toggle>
                
            </td>
        </ng-container> -->

        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
            <th mat-header-cell *matHeaderCellDef> Discount </th>
            <td mat-cell *matCellDef="let element"> {{element.is_special_offers.discount}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> {{"price" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> {{"status" | translate }} <br>
                <mat-form-field>
                    <mat-select [formControl]="statusFilter" [(ngModel)]="value">
                        <mat-option *ngFor="let stat of status" [value]="stat.value">
                            {{stat.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.status}}<br>

                <mat-slide-toggle class="example-margin" color="primary" [checked]="element.status == 'active'"
                    (change)="onChanged(element)"> </mat-slide-toggle>
            </td>
        </ng-container>

        <!-- Remain_order Column -->
        <ng-container matColumnDef="remain_order">
            <th mat-header-cell *matHeaderCellDef> {{"stock" | translate }} </th>
            <td mat-cell *matCellDef="let element"> {{element.remain_order}}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions" class="actions">
            <th mat-header-cell *matHeaderCellDef>{{"action" | translate }}</th>
            <td mat-cell *matCellDef="let element">
                <mat-list class="actions-button">
                    <mat-list-item>
                        <button mat-flat-button color="primary" (click)="onEdit(element)" matTooltip="Edit"
                            [disabled]="element.status == 'active'">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <button mat-flat-button color="warn" (click)="onDelete(element.id)" matTooltip="Delete"
                            [disabled]="element.status == 'active'">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table><br><br><br>

    <mat-paginator #paginator (page)="onPagination($event)" [pageSizeOptions]="[5, 10]" aria-label="Select page">
    </mat-paginator>

</body>