body {
  background-image: url(../../assets/pictures/background_homepage_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px;
}

body .data {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

body .data .profile,
body .data .balance {
  border-radius: 50px;
  padding: 40px;
  background-color: #fff;
  width: calc(50% - 1rem);
  height: 350px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

body .data .balance {
  display: flex;
  flex-direction: column;
}

.title-balance, 
.amount-balance{
  font-size: 250%;
  line-height: normal;
  margin-right: auto;
  margin-left: auto;
  color: #F0A500 ;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

input:disabled {
  color: black;
}
