.wrap{
    display: flex;
    height: 30vh;
    width: 20vw;
    padding: 10px;
}

.mat-card{
    background-color: #cdb7af;
    border: 2px solid;
    border-radius: 15px;
    width: 100%;
    height: 98%;
}

.mat-card-footer{
    padding-left: 12px;
    padding-bottom: 20px;
}

img {
    width: 120px;
    height: 150px;
    padding-top: 10px;
}

button {
    text-align: center;
    background-color:  #9a6851;
    color: whitesmoke;
    border-radius: 2rem;
}
.selected{
    background-color: #263e4a;
    color: whitesmoke;
}